<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#"><i class="fas fa-cloud"></i> Weather</a>
        </nav>
        <section id="form-section">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <form class="form-inline" action="/" method="GET">
                        <div class="form-group row">
                            <div class="col-md-10 pb-2 pb-md-0">
                                <input type="text" class="form-control w-100" id="search" name="search" placeholder="City, zipcode, city id" autofocus>
                            </div>
                            <div class="col-md-2 col-12">
                                <button class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section id="main">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 col-sm-10 content">
                        <h2 class="text-center"><%= weather.name.toUpperCase() %></h2>
                        <div class="row">
                            <div class="offset-md-1 col-md-4 col-sm-4 pr-md-3">
                                <img src="http://openweathermap.org/img/w/<%= weather.weather[0].icon %>.png" class="img-fluid icon">
                            </div>
                            <div class="col-md-6 col-sm-8">
                                <h4><%= weather.main.temp%> &deg;C</h4>
                                <p>Humidity: <%= weather.main.humidity %></p>
                                <p><%=weather.weather[0].description %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="forcast">
            <div class="container data">
                <div class="row">
                    <% for(var val of forcastData.values()){%>
                        <div class="col-md col-xs-12 p-1 text-center">
                            <span class="days"><strong><%= moment(val.dt_txt).format('ddd') %></strong></span>
                            <div class="thumbnail">
                                <img class="img-fluid" src="http://openweathermap.org/img/w/<%= val.weather[0].icon %>.png" alt="Card image cap">
                                <div class="caption">
                                    <h6><%= val.main.temp %> &deg;C</h6>
                                </div>
                                <p><%= val.weather[0].main %></p>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </section>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>